.review-form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
  }

 
  .review-form div {
    margin-bottom: 15px;
    
  }
  
  .review-form label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .review-form textarea,
  .review-form input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .review-form textarea {
    height: 120px;
  }
  
  .review-form input[type='number'] {
    height: 40px;
  }
 
  .review-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #708172;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .review-form button:hover {
    background-color: #556257;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .rating-container label {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .rating-buttons {
    display: flex;
    margin-top: 35px;
  }
  
  .rating-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-left: 20px;
  }
  
  .rating-button.active {
    background-color: #708172;
    border-color: #708172;
  }
 

  h3 {
    font-weight: lighter;
    color: #556257;
  }

 